<!-- string interpolation -->
<h1>{{data}}</h1>
<!-- property binding -->
<label>Name</label>
<input type="text">
<br>
<button type="submit" [disabled]="isdisabled">Click</button>
<input type="text" [hidden]="ishiddden">

<!-- class binding -->

<p [class]="isactive?'active':'inactive'">hello goodmorning</p>
<h1 [class]="{'c1':false,'active':isactive}">this is heading</h1>
<h2 [class]="['active','c1']">this is heading 2</h2>
<h3 [class.active]="isactive">This is heading 3</h3>

<!-- style binding -->
<p [style]="{color:'green'}">this is style binding</p>
<p [style.color]=color>this is also style binding</p>
<p [style.background-color]=color>this applies background color</p>
<p [style.color]="hasError?'green':'red'">this is conditional property</p>
<!-- event binding -->
<input type="text" (input)="change($event)">

<p>your name: {{name}}</p>

<!-- two-way databinding -->
City:<input type="text" [(ngModel)]="city">

<p>{{city}}</p>
<button (click)="changename()">Change</button>

<!-- @input decorator -->
<!-- <app-child [data]="message" [d1]="arr"></app-child>
<app-child [data]="msg1" [d1]="arr2"></app-child> -->
<!-- @Output decorator -->
<!-- <app-child (custom)="cdata=$event"></app-child> -->
<app-child (custom)="updatemessage($event)"></app-child>
{{cdata}}

<!-- template reference variable -->
<app-child #child></app-child>
{{child.mymsg}}
<br>
{{child.fun()}}
<div>
  {{child.title}}
</div>
<br>
<!-- @view child decorator -->
<br>
<app-child></app-child>
<button (click)="update()" type="button">ViewChildClick</button>
 
<div>
<p>Data From child: {{childdata}}</p>
</div>
<!-- dom manipulation -->
<h1 #temp>this is dom manipulation</h1>
<button>ChangeDom</button>
<input type="text" #text>

<!-- template ref for input -->

<input type="text" #e placeholder="Enter Email" value="abc@gmail.com">
<div #d class="one two" id="special">{{e.value}}</div>
<div>
  {{d.classList}}
  {{d.id}}
</div>
<button (click)="updatess(e.value)">UpdateEmail</button>